* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    padding: .5rem;
}

main {
    text-align: center;
    margin: auto;
    background-color: #6b5b95 ;
    border-radius: 25px;
    border: 8px solid #403759;
    color: white;
}

h2 {
    font-family: "Poppins";
}

main ul {
    text-align: left;
    margin: 1em auto 1em 1em;
    list-style: none;
    line-height: 2em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main ul a {
    color: white;
}

hr.solid {
    border-top: 8px solid #403759 ;
    border-radius: 5px;
    margin: auto;
    max-width: 75%;
}

header, main, footer {
    max-width: 700px;
    margin: auto;
}

header h1 {
    text-align: right;
    margin: auto;
    padding: auto;
    color:white;
}

header {
    margin: 1rem auto;
    border: 8px solid #403759;
    padding: .5rem;
    background-color: #6b5b95;
    display:grid;
    grid-template-columns: 200px 1fr;
    align-items:center;
    border-radius: 25px;
    font-family:"Poppins";
}

header img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

footer {
    text-align: center;
    margin: 1em auto;
    border: 8px solid #403759;
    padding: .5rem;
    background-color: #6b5b95;
    color: white;
    border-radius: 25px;
}
footer p {
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-weight: bolder;
}