* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, ul, li, a {
    font-size: small;
}

h1, h2 {
    font-family: "Poppins";
}

.logo_title {
    grid-row: 1/-1;
}
.logo_title img {
    width: 100%;
    max-width: 100px;
}
header {
    border: 8px solid #05b2dc;
    background-color: #1e5871;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr .5fr;
    align-items:center;
    justify-content: space-between;
    font-family:"Poppins";
    text-align: center;
    color: white;
    padding: 1%;
}

a {
    color: white;
}

.icons {
    padding: 1%;
    max-width: 30px;
}

.navigation {
    display: flex;
    flex-direction: column;
	list-style: none;
	padding: 0;
    grid-column: 3;
    grid-row: 1/-1;
    z-index: 1;
    margin: auto;
    text-align: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
    font-size: smaller;
}

.navigation a.ham::before {
	content:none;
}

.navigation a:hover {
	color: white;
	background-color: #05b2dc;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 3%;
	text-decoration: none;
	font-size: 1rem;
}

.navigation responsive {
    grid-row: 1/-1;
}

nav a:hover {
	background-color: #708080;
}
header a {
    height: 100%;
}
.date_time {
    grid-column: 2;
    grid-row: 2;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    font-size: small;
}

.banner {
    background-color: #1e5871;
    border: solid 5px #05b2dc;
    color: #fff;
}

#announcement {
    display: none;
    text-align: center;
    padding: 1rem;
    background-color: #1e5871;
    border: solid 8px #05b2dc;
    color: white;
    font-family: "Poppins";
    font-weight: bolder;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #1e5871;
    color: white;
    border: solid 8px #05b2dc;
    padding: 2%;
    margin: 0;
    font-family: "Roboto";
}

.event {
    
    background-color: #1e5871;
    border: solid 8px #05b2dc;
    margin: auto;
}

.event a {
    color: white;
    font-weight: bold;
}
.event a:hover {
    color: #05b2dc;
}

.hero {
    background-image: url("/wdd230/chamber/images/superstition.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2% auto;
    padding: 1%;
    float: left;
}
 
.hero p {
    background-color: #1e5871;
}

.away_link {
    background-color: #05b2dc;
    color: white;
    width: fit-content;
    padding: 2%;
    text-decoration: none;
    border-radius: 25px;
}

.join {
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1e5871;
    border: solid 8px #05b2dc;
}
.join button {
    text-decoration: none;
    border: 3px solid #05b2dc;
    border-radius: 25px;
    padding: 2%;
    margin: auto;
    width: 40%;
}
.join a:hover {
    background-color: #05b2dc;
    color: black;
}
.join a {
    font-size: larger;
    font-weight: bold;
    border: solid 3px #05b2dc;
    border-radius: 25px;
    padding: 2%;
    margin: auto;

}
.weather {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.weather_block {
    display: inline-flex;
    flex-direction: row;
    margin: 1%;
}
.weather_block svg {
    display: block;
    min-width: 2em;
}
.weather hr {
    width: 75%;
    border-top:solid 3px #05b2dc;
}
.wind_speed {
    display: inline-flex;
    margin: 3%;
}
.wind_chill {
    display: inline-flex;
    margin: 3%;
}  
.spotlights svg {
    max-height: 50px;
}
.spotlights {
    text-align: center;
}
.spotlight1 {
    background-color: #1e5871;
    border: solid 8px #05b2dc;
    margin: 5% auto;
}
.spotlight2 {
    background-color: #1e5871;
    border: solid 8px #05b2dc;
    margin: 5% auto;
}
.news {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1e5871;
    border: solid 8px #05b2dc;
    margin: 5% auto;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.event {
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    border: 8px solid #05b2dc;
    padding: .5rem;
    background-color: #1e5871;
    color: white;
    display: flex;
    flex-direction: column;
}
footer p, h1, h2 {
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: smaller;
}
#footer_info {
    grid-column: 1/-1;
    grid-row: 2;
    padding: 1%;
    margin: 0;
}

footer img {
    max-width: 50px;
}

footer hr.solid {
    border-top: 3px solid #05b2dc ;
    grid-column: 1/-1;
    margin:0 0 2% 0;
}
#address {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}
.spotlight3 {
    display: none;
}
#demographics {
    display: flex;
    grid-column: 1/-1;
    background-image: url("/wdd230/chamber/images/aj-town.jpg");
    border-radius: 25px;
    padding: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    margin: 2% 0 0 0;
}
#demo-info {
    background-color: #1e5871;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}
#demo-info h1 {
    text-decoration: underline;
}
#demographics img {
    display: none;
}
.gallery { 
    grid-row: 1/-1;
    grid-column: 1/-1;
}
.galimg {
    width: auto;
    margin: 2% auto 2% auto;
    text-align: center;
    border: solid 3px #05b2dc;
    border-radius: 25px;
    padding: 2%;
}
.galimg img {
    width: 50%;
}
.galimg p {
    margin: 3%;
}
#user-announcement {
    color: white;
    background-color: #1e5871;
    border: 5px solid #05b2dc;
    padding: 2%;
    text-align: center;
}
#user-announcement p {
    font-family: "Poppins";
    font-weight: bolder;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
}
form label.sbs {
    display: block;
}
fieldset {
    width: 100%;
}
legend {
    font-size: large;
    font-weight: bolder;
}
#joinForm {
    border: 3px solid #05b2dc;
    border-radius: 1rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
#joinForm label {
    width: 100%;
    max-width: 18rem;
    padding: 1%;
    margin: auto;
}
#joinForm input.submitBtn {
    max-width: 15rem;
    margin: 3% auto;
    padding: 4%;
    border-radius: 1rem;
    border: 2px solid #05b2dc;
    background-color: #1e5871;
    color: #fff;
}
#memberLevel input.submitBtn {
    max-width: 13rem;
    padding: 3%;
    border-radius: 1rem;
    border: 2px solid #05b2dc;
    background-color: #1e5871;
    color: white;
    margin: auto;
}
#memberLevel {
    border: 5px solid #05b2dc;
    border-radius: 2rem;
    margin: auto;
    padding: 0 1% 5% 0;
    display: flex;
    flex-direction: column;
}
#ironLvl {
    border-radius: 2rem;
    color: black;
    margin: 2%;
    width: auto;
}
#memberLevel label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
    padding: 1%;
    border: 3px solid #05b2dc;
    border-radius: 1rem;
}
#tellMore input {
    padding: 2%;
    color: white;
    background-color: #1e5871;
    border: 3px solid #05b2dc;
    border-radius: 2rem;
    margin: 3% auto auto auto;
    max-width: 10rem;
}
#tellMore textarea {
    margin: 0 3% 0 3%;
}
input.larger {
    transform: scaleX(2.5) scaleY(2.5);
    margin: 5%;
}
#thankYou {
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    background-image: url(/wdd230/chamber/images/aj-town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
}
#thankYou h1 {
    background-color: #1e5871;
    padding: 4%;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-family: inherit;
    text-align: center;
}
   button.learn-more {
    width: 10rem;
    height: auto;
    text-align: center;
    vertical-align: middle;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1e5871;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    align-items: center;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

@media only screen and (min-width: 992px) {
	.navigation {
		display: flex;
        flex-direction: row;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}