@media only screen and (min-width: 992px) {
	p, h1, h2, ul, li, a {
		font-size: large;
	}
	.date_time {
		font-size: larger;
	}
	.navigation a {
		font-size: x-large;
	}
	.logo_title h2 {
		font-size: x-large;
		margin: 0;
	}
	.logo_title h1 {
		font-size: larger;
	}
	.icons {
		grid-column: 3;
		grid-row: 1;
		padding: 1%;
		max-width: 40px;
	}
	.navigation {
		display: flex;
		flex-direction: row;
	}
	main {
		display: grid;
    	grid-template-columns: repeat(5, 1fr);
    	grid-template-rows: repeat(3, 33%);
		grid-gap: 2%;
		padding: 2%;
	}
	.event {
		grid-column: 1;
		grid-row: 1;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 4%;
	}
	.event p {
		font-size: .9rem;
	}
	.event a {
		font-size: .9rem;
	}
	.event h1, h2 {
		font-size: 1rem;
	}
	.weather {
		grid-column: 1;
		grid-row: 2;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 1%;
		min-width: 100%;
	}
	.weather h1 {
		text-decoration: underline;
	}

	.weather_block {
		padding: 0;
	}
	
	.join {
		grid-column: 1;
		grid-row: 3;   
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		margin: auto;
	}
	.join a {
		font-size: large;
		font-weight: bold;
		padding: 3%;
		margin: 3%;
		width: 60%;
	}
	a.button {
		margin: 2% auto;
	}
	.join p {
		font-size: 1.1rem;
	}
	
	.hero {
		grid-column: 2/5;
		grid-row: 1/3;  
		border: solid 8px #05b2dc;
		padding: 2%;
		min-width: 100%;
		max-height: 75%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		opacity: 85%;
	}

	.hero p {
		font-size: 2em;
		grid-column: 1/3;
		text-align: center;
	}
	
	.away_link {
		display: grid;
		grid-column: 3;
		grid-row: 3;
		opacity: 100%;
		margin: 1rem;
	}

	.button-text {
		color: black;
		align-items: center;
	}

	button.learn-more {
		width: 15rem;
	}

	.news {
		grid-column: 2/5;
		grid-row: 3;
		background-color: #1e5871;
		border: solid 8px #05b2dc; 
		padding: 2%;
		min-width: 60%;
	}
	
	.spotlights {
		display: flex;
		flex-direction: column;
		/* gap: 5%; */
		grid-column: 5/-1;
		grid-row: 1/-1;
		background-color: #1e5871;
		border: solid 5px #05b2dc;
		padding: 2%;

	}
	.spotlights svg {
		max-width: 200px;
	}

	.spotlight1 {
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0;
		text-align: center;
		font-size: small;
	}
	.spotlight2 {
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0%;
		text-align: center; 
		font-size: small; 
	}
	.spotlight3 {
		display: block;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0%;
		text-align: center;   
		font-size: small;
	}
	.gallery {
		display: flex;
		flex-direction: row;
		grid-row: 1/2;
		grid-column: 1/-1;
	}
	.galimg {
		text-align: center;
		margin: 1%;
		width: 20%
	}
	.galimg img {
		object-fit: cover;
		vertical-align: bottom;
		width: 100%;
	}
	.galimg p {
		padding: 2%;
	}
	#demographics {
		display: flex;
		flex-direction: row;
		grid-row: 3;
		grid-column: 1/-1;
		margin: 0 0 5% 0;
	}
	#demo-info {
		display: block;
		padding: 0;
		margin: 0 auto 2%;
	}
	form {
		display: grid;
		grid-template-columns: 40% auto;
		grid-template-rows: 1fr .5fr;
		grid-column: 1/-1;
		grid-row: 1/-1;
	}
	#joinForm {
		width: 75%;
		grid-column: 1;
		grid-row: 1;
		height: 80%;
	}
	#memberLevel {
		grid-row: 1;
		width: 100%;
		grid-column: 2;
	}
	#memberLevel legend {
		margin: auto;
	}
	.submitBtn {
		margin: 0 0 2% 35%;
	}
	#tellMore input {
		margin: auto;
		padding: 2%;
	}
	footer {
		display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
	}
	footer img {
		grid-column: 1;
		grid-row: 1;
		min-width: 125px;
	}
	footer p, h1, h2 {
		font-size: larger;
	} 
}