@media only screen and (min-width: 992px) {
	p, h1, h2, ul, li, a {
		font-size: large;
	}
	.date_time {
		font-size: larger;
	}
	.navigation a {
		font-size: x-large;
	}
	.logo_title h2 {
		font-size: x-large;
		margin: 0;
	}
	.logo_title h1 {
		font-size: larger;
	}
	.logo_title {
		display: grid;
		grid-row: 1/-1;
	}
	
	.logo_title img {
		grid-column: 1;
		grid-row: 1/-1;
		min-width: 125px;

	}
	
	.logo_title p {
		grid-column: 2;
	}
	.icons {
		grid-column: 3;
		grid-row: 1;
		padding: 1%;
		max-width: 40px;
	}
	.navigation {
		display: flex;
		flex-direction: row;
	}
	main {
		display: grid;
    	grid-template-columns: repeat(5, 1fr);
    	grid-template-rows: repeat(3, 1fr);
		grid-gap: 2%;
		padding: 2%;
	}
	.event {
		grid-column: 1;
		grid-row: 1;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		max-width: 100%;
	}

	.weather {
		grid-column: 1;
		grid-row: 2;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		min-width: 100%;
	}
	.weather h1 {
		text-decoration: underline;
	}

	.weather_block {
		padding: 0;
	}
	
	.join {
		grid-column: 1;
		grid-row: 3;   
		background-color: #1e5871;
		border: solid 8px #05b2dc;
	}
	.join button {
		min-width: 90%;
		padding: 1%;
		margin: 3%;
	}
	.join a {
		font-size: x-large;
		font-weight: bold;
		padding: 4%;
		margin: 3%;
	}
	
	.hero {
		grid-column: 2/5;
		grid-row: 1/3;  
		border: solid 8px #05b2dc;
		padding: 2%;
		min-width: 100%;
		max-height: 75%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		opacity: 85%;
	}

	.hero p {
		font-size: 2em;
		grid-column: 1/3;
		text-align: center;
	}
	
	.away_link {
		display: grid;
		grid-column: 3;
		grid-row: 3;
		opacity: 100%;
	}

	.button-text {
		color: black;
		align-items: center;
	}

	button.learn-more {
		width: 16rem;
	}

	.news {
		grid-column: 2/5;
		grid-row: 3;
		background-color: #1e5871;
		border: solid 8px #05b2dc; 
		padding: 2%;
		min-width: 60%;
	}
	
	.spotlights {
		display: flex;
		flex-direction: column;
		gap: 5%;
		grid-column: 5;
		grid-row: 1/-1;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		min-width: 100%;
		max-height: 100%;
	}
	.spotlights svg {
		max-height: 100px;
	}

	.spotlight1 {
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0;
		text-align: center;
		line-height: 200%; 
		font-size: small;
	}
	.spotlight2 {
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0%;
		text-align: center; 
		line-height: 200%;
		font-size: small; 
	}
	.spotlight3 {
		display: block;
		background-color: #1e5871;
		border: solid 8px #05b2dc;
		padding: 2%;
		margin: 0%;
		text-align: center;   
		line-height: 200%;
		font-size: small;
	}
	
	footer {
		display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
	}
	footer img {
		grid-column: 1;
		grid-row: 1;
		min-width: 125px;
	}
	footer p, h1, h2 {
		font-size: larger;
	} 
}