@media only screen and (min-width: 600px) {
    p, h1, h2, ul, li, a {
		font-size: larger;
	}
	.date_time {
		font-size: medium;
	}
	.navigation a {
		font-size: large;
	}
	.logo_title h2 {
		font-size: large;
		margin: 0;
	}
	.logo_title h1 {
		font-size: medium;
	}

	.icons {
		grid-column: 3;
		grid-row: 1;
		padding: 1%;
		max-width: 35px;
	}
	main {
		display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	grid-template-rows: repeat(5, 1fr);
	}
	.event {
		grid-column: 1/2;
		grid-row: 5;
		max-width: 100%;
		padding: 2%;
	}
	
	.weather {
		grid-column: 3;
		grid-row: 5;
	}
	
	.join {
		grid-column: 1/-1;
		grid-row: 4;   
	}
	
	.hero {
		grid-column: 1/-1;
		grid-row: 1;
		width: fit-content;
		max-height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		margin: 0 auto 0 auto;
		z-index: 2;
	}
	.hero p {
		background-color: #1e5871;
		padding: 3%;
		font-size: 1.5em;
		grid-column: 1/3;
		grid-row: 1;
		text-align: left;
	}

	.away_link {
		color: white;
		padding: 2%;
		text-decoration: none;
		border-radius: 25px;
		bottom: 100%;
		display: grid;
		grid-column: 3;
		grid-row: 2;
	}
	.news {
		grid-column: 1/-1;
		grid-row: 2;
		padding: 2%;   
	}
	
	.spotlights {
		display: flex;
		flex-direction: row;
		grid-column: 1/-1;
		justify-content: space-between;
		min-width: 100%;
	}
	.spotlights svg {
		max-height: 75px;
	}

	.spotlight2 {
		padding: 2%;
	}

	.spotlight1 {
		padding: 2%;
	}
	
	.spotlight3 {
        display: none;
	}
	footer {
		display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
	}
	footer img {
		grid-column: 1;
		grid-row: 1;
		min-width: 125px;
	}
	footer p, h1, h2 {
		font-size: medium;
	}
	.navigation {
		display: flex;
		flex-direction: column;
	}
	.gallery {
		grid-row: 1/-1;
		grid-column: 1/-1;
	}
	.galimg {
		width: 50%;
	}
	.galimg img {
		width: 70%;
	}
	.galimg img:hover {
		transform: scale(1.1);
		box-shadow: 3px 3px #05b2dc;
		margin: 2%;
	}
	#demographics {
		display: flex;
		flex-direction: column;
		grid-template-columns:65% 35%;
		border: 5px solid #05b2dc;
		border-radius: 25px;
		padding: 2%;
		background-image: none;
	}
	#demographics img {
		display: block;
		grid-column: 2/-1;
		max-width: 90%;
		border-radius: 25px;
		text-align: center;
	}
	#demographics h1, p {
		background-image: none;
	}
	#demographics img:hover {
		transform: scale(1.1);
		box-shadow: 3px 3px #05b2dc;
	}
	#demo-info {
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
	}
	form {
		grid-column: 1/-1;
		grid-row: 1/-1;
	}
	#memberLevel {
		margin: 2%;
	}
	#joinForm label {
		width: 100%;
		max-width: 18rem;
		padding: 3%;
		margin: 0 auto 0 0;
	}
	#tellMore {
		margin: 0 0 0 25%;
		text-align: center;
	}
}