:root {
    --bordcolor: rgb(39, 179, 39);
    --lightback: rgb(144, 153, 161);
    --darkback: rgb(105, 105, 105);
    --headcolor: rgb(18, 78, 18);
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(53, 53, 53);
}
caption {
    caption-side: bottom;
    padding: 3%;
}
table {
    text-align: center;
    padding: 2%;
    color: white;
    margin: 10px auto;
    width:50%;
}
th, td {
    border: 2px solid var(--bordcolor);
    padding: 2px 7px;
}
tr:first-child th {
    background-color: var(--headcolor);
}
tr:nth-child(2) th {
    background-color: rgb(32, 138, 32);
}
tbody tr:nth-child(odd) td {
    background-color: var(--lightback);
}
tbody tr:nth-child(even) td {
    background-color: var(--darkback);
}
tbody tr td:hover {
    background-color: var(--headcolor);
}
#black-friday {
    font-style: italic;
}