* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1 {
    margin:auto;
    padding: auto;
    color:white;
}

header {
    margin: 1rem auto;
    border: 8px solid #403759;
    padding: .5rem;
    background-color: #6b5b95;
    display:grid;
    grid-template-columns: 200px 1fr;
    align-items:center;
    border-radius: 25px;
    font-family:"Poppins";
    text-align: center;
}

header section {
    color: white;
    text-align: center;
    flex-direction: column;
    display: flex;
}

header img {
    width: 100%;
    height: auto;
    margin: none;
    border-radius: 25px;
}

main section {
    text-align: center;
    margin: auto;
    background-color: #6b5b95 ;
    border-radius: 25px;
    border: 8px solid #403759;
    color: white;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

main section h3 {
    background-color: #403759;
}

main section li {
    text-align: center;
    padding: auto;
}

section h4, section h3, a {
    font-family: "Poppins";
    color: white;
    font-weight: bolder;
}


#firstp img {
    max-width: 300px;
    max-height: auto;
    margin:10px auto 10px auto;
}

#secondp img {
    max-width: 300px;
    max-height: auto;
    margin:10px auto 10px auto;
}

#thirdp img {
    max-width: 300px;
    max-height: auto;
    margin:10px auto 10px auto;
}

footer {
    text-align: center;
    margin: 1em auto;
    border: 8px solid #403759;
    padding: .5rem;
    background-color: #6b5b95;
    color: white;
    border-radius: 25px;
}
footer p {
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    font-size: large;
}