:root {
    --heading-font: "Montserrat";
    --paragraph-font: "Lato";
    --main-color: #84acce;
    --secondary-color:#eddea4;
    --supplement-color: #345995;
    --border-template: 3px solid var(--supplement-color);
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li {
    text-decoration: none;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, ul, button, section {
    font-family: var(--heading-font);
    font-weight: 600;
}
p, li, figcaption {
    font-family: var(--paragraph-font);
    font-weight: 600;
}
header {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
}
hr {
    border-top: var(--border-template);
    width: 100%;
}
.nav-div{
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}
.nav-div a:visited {
    text-decoration: none;
    color: black;
}
.header-logo {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    width: 100%;
    height: 100%;
}
.header-logo img {
    width: 50%;
}
.social-icons {
    grid-column: 5/-1;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    text-align: center;
}
.social-icons h2 {
    margin: 5% auto 2% auto;
}
.social-icons svg {
    max-width: 50px;
}
.social-icons svg:hover {
    transform: scale(1.1);
}
.weather-announce {
    text-align: center;
    margin: auto;
    padding: 2%;
    background-color: var(--supplement-color);
    color: white;
    font-size: .8rem;
}
#index-weather {
    display: grid;
    width: 100%;
    border: var(--border-template);
    margin: 2% 0 2% 0;
}
#displayp {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--secondary-color);
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2%;
}
#weather-display {
    grid-row: 2;
    grid-column: 1;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 2%;
}
#forecastp {
    grid-column: 2/5;
    grid-row: 1;
    background-color: var(--secondary-color);
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2%;
}
#weather-forecast-1 {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
#weather-forecast-2 {
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
#weather-forecast-3 {
    grid-row: 2;
    grid-column: 4;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
.alert {
    font-family: var(--heading-font);
    background-color: rgb(182, 80, 80);
    color: white;
    line-height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 90% 10%);
}
.alert a {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
}
.closeBtn {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    color: black;
}
.closeBtn:hover {
    background-color: var(--supplement-color);
    color: white;
    transition: 300ms;
    transform: scale(1.09);
    cursor: pointer;
}
#reservation-action {
    text-align: center;
    padding: 2%;
    background-image: url(/wdd230/w12final-project/images/small-mesa-pan.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#reservation-action h3 {
    background-color: var(--secondary-color);
    border: var(--border-template);
    color: black;
    width: 80%;
    border-radius: 10rem;
    padding: 2%;
}
#reservation-action a {
    margin: 3% auto;
    padding: 2%;
    background-color: var(--main-color);
    font-weight: 600;
    border: var(--border-template);
    border-radius: 20rem;
    font-family: var(--paragraph-font);
}
#reservation-action a:hover {
    background-color: var(--supplement-color);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
.main-contact h4 {
    font-size: larger;
}
.main-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 90%;
    padding: 1%;
    margin: 2% 10% 2% 10%;
    border-radius: 1rem;
}
#servicesProvided {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 6%;
    margin: 0 10% 2% 10%;
    border-radius: 25px;
}
#servicesProvided p {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    background-color: var(--supplement-color);
    border-radius: 25% 1%;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2%;
    margin: 0 auto 2% auto;
}
#services-list li, #amenities-list li {
    list-style: square;
    width: 100%;
    padding: 1%;
}
#templeMain h3 {
    text-align: center;
    padding: 2%;
    background-color: var(--supplement-color);
    color: white;
    border: 3px solid var(--main-color);
    border-radius: 25rem;
    margin: 4% auto;
    width: 80%;
    font-size: 1.1rem;
}
.slideshowContainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin: 2% auto;
    background-color: var(--secondary-color);
    padding: 3%;
    text-align: center;
    border-radius: 1rem;
}
.slideshowContainer p {
    grid-column: 2;
    grid-row: 1;
    margin: 1%;
}
.mySlides {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}
.mySlides div {
    font-family: var(--heading-font);
    font-weight: 700;
    padding: 1%;
}
.mySlides p {
    font-weight: 600;
    font-size: smaller;
}
.mySlides img {
    border-radius: 5%;
    box-shadow: 3px 3px 3px black;
    width: 100%;
    max-width: 200px;
    max-height: 120px;
    position: relative;
}
.mySlides img:hover {
    transform: scale(1.05);
    transition: all 200ms;
}
article.list section{
    display: flex;
    flex-direction: row;
    padding: 1%;
    border: 3px solid var(--supplement-color);
}
article.list section p:first-child {
    min-width: 15%;
}
article.list img {
    display: none;
}
.prev, .next {
    min-height: 40px;
    min-width: 40px;
    padding: 20%;
    text-align: center;
    background-color: var(--main-color);
    grid-row: 2;
    position: relative;
    border-radius: 25rem;
}
.prev {
    grid-column: 1;
}
.next {
    grid-column: 3;
}
.prev:hover, .next:hover {
    color: white;
    background-color: var(--supplement-color);
    transform: scale(1.1);
}
#templeLike {
    text-align: center;
    background-color: var(--supplement-color);
    border: 3px solid var(--main-color);
    border-radius: 25rem;
    color: white;
    width: 75%;
    padding: 2%;
    line-height: 2rem;
    margin: 2% auto;
}
#starRank {
    display: flex;
    width: 60%;
    max-width: 200px;
}
#starRank a {
    font-size: 1.4rem;
    opacity: 50%;
    cursor: pointer;
}
#starRank:hover a {
    opacity: 100%;
}
#starRank a:hover ~ a {
    opacity: 50%;
}
#starRank a.active {
    opacity: 100%;
}
#templeButtons {
    text-align: center;
    margin: auto auto 3% auto;
}
.gridStyle img {
    max-width: 200px;
    width: 100%;
    border-radius: 5%;
    margin: 2%;
}
.gridStyle section p:first-child {
    font-size: larger;
    font-weight: 800;
    padding: 2%;
    background-color: var(--supplement-color);
    color: white;
    margin: auto;
    width: 100%;
}
.gridStyle section {
    line-height: 1.5rem;
    background-color:var(--main-color);
}
#cardsList, #cardsGrid {
    max-width: 45px;
    width: 100%;
    margin: auto;
    color: white;
    background-color: var(--supplement-color);
    border: 2px solid var(--main-color);
    text-align: center;
    padding: 1%;
}
#cardsList:hover, #cardsGrid:hover {
    color: black;
    background-color: var(--main-color);
    border: 2px solid var(--supplement-color);
    transform: scale(1.1);
    cursor: pointer;
}
#reservationContainer form {
    width: 100%;
    height: 100%;
    text-align: left;
}
#reservationForm {
    width: 100%;
    height: 100%;
    font-family: var(--heading-font);
    font-weight: 700;
    background-color: var(--secondary-color);
    border-radius: 2%;
    border: 4px solid var(--supplement-color);
    opacity: 90%;
}
#reservationForm legend {
    background-color: var(--supplement-color);
    color: white;
    padding: 2%;
    margin: 1%;
}
#reserveMoreInfo {
    text-align: center;
    margin: 2% auto;
    padding: 3%;
    background-color: var(--secondary-color);
    border-radius: 8%;
    border: 4px solid var(--supplement-color);
    opacity: 90%;
}
#reserveMoreInfo h3, h4 {
    font-size: 1.2rem;
}
#reserveMoreInfo section {
    text-align: left;
    font-weight: bold;
    width: 100%;
}
#reserveMoreInfo p {
    text-align: center;
    font-weight: 600;
    padding: 2%;
}
#reserveMoreInfo li {
    padding: 2%;
}
#reservationForm textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
    
}
#reservationForm input {
    width: 100%;
    padding: 2%;
    justify-content: right;
}
#reservationForm label {
    display: flex;
    flex-direction: column;
    margin: 1% 4% 1% 4%;
}
#reservationForm input:focus:valid {
    border: 4px solid green;
    outline: none;
}
#reservationForm input:focus:invalid {
    border: 4px solid red;
    background-color:#FFA07A;
    outline: none;
}
#reservationForm label, #reservationForm input {
    font-family: var(--paragraph-font);
    margin: 1%;
}
#reservationForm input:nth-child(12) {
    width: 60%;
    border-radius: 1rem;
    background-color: var(--supplement-color);
    color: white;
    opacity: 100%;
    margin: auto;
    grid-column: 1/-1;
}
#reservationForm input:nth-child(12):hover {
    transform: scale(1.1);
    background-color: var(--main-color);
    color: black;
}
#resCountry {
    padding: 2%;
}
footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.openBtn {
    display: flex;
    justify-content: center;
}
.openButton {
    border: 3px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--supplement-color);
    color: white;
    padding: 1%;
    cursor: pointer;
}
.openButton:hover {
    color: black;
    background-color: var(--main-color);
    transform: scale(1.1);
}
.weddingPopup {
    margin: 2%;
    text-align: center;
    width: 100%;
}
.formPopup {
    display: none;
    margin: auto;
    border: 3px solid var(--supplement-color);
    border-radius: 1rem;
    z-index: 3;
}
.formContainer {
    max-width: 100%;
    padding: 2%;
    display: flex;
    background-color: var(--main-color);
    border-radius: 1rem;
    flex-direction: column;
    text-align: center;
}
.formContainer ul {
    line-height: 1.5rem;
    padding: 2%;
    text-align: left;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}
.formContainer li {
    list-style: none;
}
.formContainer .btn {
    padding: 2%;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 20%;
    margin: auto;
    opacity: 0.8;
}
.formContainer .cancel {
    background-color: var(--supplement-color);
    color: white;
    margin: 2% auto 1% auto;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
    transform: scale(1.1);
}
#servicesProvided a {
    font-family: var(--heading-font);
    font-size: large;
    font-weight: 800;
    margin: 5% auto 2% auto;
    padding: 3%;
    border-radius: 1rem;
    background-color: var(--main-color);
    color: black;
}
#servicesProvided a:hover {
    color: white;
    background-color: var(--supplement-color);
    transform: scale(1.1);
}
#housingDetails h3 {
    font-size: large;
    color: white;
    background-color: var(--supplement-color);
    padding: 2%;
    width: 100%;
    height: 100%;
}
#housingDetails h4 {
    font-size: medium;
    background-color: var(--secondary-color);
    padding: 2%;
    width: 100%;
    height: 100%;
}
#contactInfo {
    background-color: var(--secondary-color);
    color: black;
    padding: 3%;
}
#contactInfo h5 {
    font-size: large;
}
.footer-map {
    display: flex;
    flex-direction: column;
    max-width: 33%;
}
.footer-map iframe{
    width: 100%;
}
.footer-map p {
    text-align: center;
    padding: 2%;
}
.footer-map a {
    font-family: var(--paragraph-font);
    font-weight: 700;
    color: black;
    padding: 1%;
    border-radius: 25px;
}
.footer-map a:hover {
    background-color: white;
    color: var(--supplement-color);
    transform: scale(1.1);
    transition: all 200ms ease-out;
}
.footer-info {
    text-align: center;
    line-height: 2.2rem;
}
.footer-info p:first-child {
    font-size: 1.2rem;
    text-decoration: underline;
}
.footer-logo {
    text-align: center;
    padding: 1%;
}
.footer-logo img {
    max-width: 125px;
}
.footer-logo a {
    color: black;
    border-radius: 25px;
    padding: 2%;
}
.footer-logo a:hover {
    background-color: white;
    color: var(--supplement-color);
    transform: scale(1.1);
    transition: all 200ms ease-out;
}
@media only screen and (max-width:600px) {
    h1, h2, h3 {
        font-size: small;
    }
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .header-logo {
        grid-column: 1/3;
        grid-row: 1;
    }
    .social-icons {
        grid-column: 6/-1;
        grid-row: 1;
    }
    .social-icons svg {
        max-width: 30%;
        margin: 2%;
    }
    .social-icons h2 {
        display: none;
    }
    .nav-div {
        grid-column: 3/6;
        grid-row: 1;
    }
    .dropbtn {
        background-color: var(--main-color);
        border: none;
        padding: 1%;
        cursor: pointer;
        max-width: 100px;
        font-weight: 600;
    }
    .dropbtn:hover {
        cursor:default;
    }
    .dropbtn svg {
        max-width: 15px;
        max-height: 15px;
    }
    .nav-div {
        position: relative;
        display: inline-block;
        grid-column: 3/6;
        text-align: center;
        margin: auto;
    }
    .nav-list {
        display: none;
        position:absolute;
        background-color: var(--main-color);
        color: white;
        min-width: 100px;
        z-index: 1;
    }
    .nav-list li {
        background-color: var(--main-color);
        padding: 1%;
        display: block;
    }
    .nav-list li:hover {
        background-color: var(--supplement-color);
        transform: scale(1.1);
    }
    .nav-list li a:hover {
        color: white;
    }
    .nav-div:hover
    .nav-list {
        display: block;
    }
    .gridStyle section {
        text-align: left;
    }
    article.list section {
        flex-direction: column;
        text-align: left;
    }
    #reservationForm {
        display: flex;
        flex-direction: column;
        padding: 3%;
        text-align: left;
    }
    #reservationForm label {
        text-align: left;
        padding: 2%;
    }
    #servicesProvided {
        display: flex;
        flex-direction: column;
    }
    #housingDetails {
        text-align: center;
    }
    #room1 img, #room2 img, #room3 img, #room4 img {
        display: none;
    }
    #room1 {
        background-image: url(/wdd230/w12final-project/images/room1.webp);
        background-repeat: repeat;
        background-position: center;
    }
    #room2 {
        background-image: url(/wdd230/w12final-project/images/room2.webp);
        background-repeat: repeat;
    }
    #room3 {
        background-image: url(/wdd230/w12final-project/images/room3.webp);
        background-repeat: repeat;
    }
    #room4 {
        background-image: url(/wdd230/w12final-project/images/room4.webp);
        background-repeat: repeat;
    }
    #room1, #room2, #room3, #room4 {
        display: flex;
        flex-direction: column;
        margin: 2%;
        text-align: center;
        border-radius: 1rem;
    }
    #room1 p, #room2 p, #room3 p, #room4 p {
        background-color: var(--main-color);
        color: black;
        opacity: 90%;
        padding: 2%;
    }
    footer {
        font-size: .7rem;
    }
    .footer-logo img {
        max-width: 50px;
    }
    .footer-info p:first-child {
        font-size: .8rem;
    }
    .footer-info {
        line-height: 1rem;
    }
    footer iframe {
        max-width: 75px;
        height: 75px;
    }
}