:root {
    --heading-font: "Montserrat";
    --paragraph-font: "Lato";
    --main-color: #84acce;
    --secondary-color:#eddea4;
    --supplement-color: #345995;
    --border-template: 3px solid var(--supplement-color);
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li {
    text-decoration: none;
    list-style: none;
}
h1, h2, h3, h4, h5, ul, button, section {
    font-family: var(--heading-font);
    font-weight: 600;
}
p, li {
    font-family: var(--paragraph-font);
    font-weight: 600;
}
header {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
}
hr {
    border-top: var(--border-template);
    width: 100%;
}
.nav-div{
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
}
.nav-div a:visited {
    text-decoration: none;
    color: black;
}
.header-logo {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    width: 100%;
    height: 100%;
}
.header-logo img {
    width: 50%;
}
.social-icons {
    grid-column: 5/-1;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    text-align: center;
}
.social-icons h2 {
    margin: 5% auto 2% auto;
}
.social-icons svg {
    max-width: 50px;
}
.social-icons svg:hover {
    transform: scale(1.1);
}
.weather-announce {
    display: none;
}
#reservation-action {
    text-align: center;
    padding: 2%;
    background-image: url(/wdd230/w12final-project/images/small-mesa-pan.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#reservation-action h3 {
    background-color: var(--secondary-color);
    border: var(--border-template);
    color: black;
    width: 75%;
    border-radius: 10rem;
    padding: 2%;
}
#reservation-action button {
    margin: 3%;
    padding: 1%;
    background-color: var(--main-color);
    font-weight: 600;
    border: var(--border-template);
    border-radius: 20rem;
}
#reservation-action button:hover {
    background-color: var(--supplement-color);
    color: white;
    transform: scale(1.1);
}
.main-contact h4 {
    font-size: larger;
}
#temple-carousel {
    display: grid;
    grid-template-columns: repeat(3, 15% 70% 15%) ;
    text-align: center;
    background-color: var(--main-color);
    color: white;
}
#temple-carousel img {
    margin: auto;
    /* border: 3px solid white; */
    grid-column: 2;
    width: 100%;
}
#temple-carousel ul {
    grid-column: 2;
    background-color: var(--supplement-color);
    /* border: 3px solid white; */
    padding: 2% none 2% none;
    width: 100%;
}
.temple-buttons {
    height: 15%;
    width: 80%;
    margin: auto;
    background-color: var(--supplement-color);
    border: none;
    color: white;
}
#rightarrow:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
}
#leftarrow:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
}
#index-weather {
    display: flex;
    flex-direction: row;
    width: 100%;
}
footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer-map {
    display: flex;
    flex-direction: column;
    max-width: 33%;
}
.footer-map iframe{
    width: 100%;
}
.footer-map p {
    text-align: center;
    padding: 2%;
}
.footer-info {
    text-align: center;
    line-height: 2.2rem;
}
.footer-info p:first-child {
    font-size: 1.2rem;
    text-decoration: underline;
}
.footer-logo {
    text-align: center;
}
.footer-logo img {
    max-width: 125px;
}
.footer-logo a {
    color: black;
}
.footer-logo a:hover {
    color: #345995;
    text-decoration: underline;
}
@media only screen and (max-width:600px) {
    h1, h2, h3 {
        font-size: small;
    }
    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .header-logo {
        grid-column: 1/3;
        grid-row: 1;
    }
    .social-icons {
        grid-column: 6/-1;
        grid-row: 1;
    }
    .social-icons svg {
        max-width: 30%;
        margin: 2%;
    }
    .social-icons h2 {
        display: none;
    }
    .nav-div {
        grid-column: 3/6;
        grid-row: 1;
    }
    .dropbtn {
        background-color: var(--main-color);
        border: none;
        padding: 1%;
        cursor: pointer;
        max-width: 100px;
        font-weight: 600;
    }
    .dropbtn:hover {
        cursor:default;
    }
    .dropbtn svg {
        max-width: 15px;
        max-height: 15px;
    }
    .nav-div {
        position: relative;
        display: inline-block;
        grid-column: 3/6;
        text-align: center;
        margin: auto;
    }
    .nav-list {
        display: none;
        position:absolute;
        background-color: var(--main-color);
        color: white;
        min-width: 100px;
        z-index: 1;
    }
    .nav-list li {
        background-color: var(--main-color);
        padding: 1%;
        display: block;
    }
    .nav-list li:hover {
        background-color: var(--supplement-color);
        transform: scale(1.1);
    }
    .nav-list li a:hover {
        color: white;
    }
    .nav-div:hover
    .nav-list {
        display: block;
    }
    .main-contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--secondary-color);
        font-size: 90%;
        padding: 1%;
        margin: 2% 10% 2% 10%;
        border-radius: 1rem;
    }
    footer {
        font-size: .7rem;
    }
    .footer-logo img {
        max-width: 50px;
    }
    .footer-info p:first-child {
        font-size: .8rem;
    }
    .footer-info {
        line-height: 1rem;
    }
    footer iframe {
        max-width: 75px;
        height: 75px;
    }
}