@media only screen and (min-width:992px) {
    .header-logo h1 {
        font-size: 1.5rem;
    }
    .social-icons svg {
        max-width: 60px;
    }
    .social-icons h2 {
        font-size: 1.1rem;
    }
    .nav-div a {
        font-size: 1.2rem;
    }
    article.list section p:nth-child(5) {
        display: block;
    }
    footer {
        font-size: 1.1rem;
    }
    .footer-logo img {
        width: auto;
        max-width: 90px;
    }
    .footer-info p:first-child {
        font-size: 1.3rem;
    }
    .footer-info {
        line-height: 1.6rem;
    }
    footer iframe {
        max-width: 70%;
        height: auto;
    }
    #housingDetails {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(auto-fit, minmax(10%, 25%));
        height: 100%;
        width: 100%;
        padding: 1%;
    }
    #housingDetails h3 {
        grid-column: 1/-1;
        grid-row: 1;
        width: 100%;
    }
    #housingDetails h4 {
        grid-column: 1/-1;
        grid-row: 2;
        width: 100%;
    }
    .main-contact h4, .main-contact p {
        font-size: 1.4rem;
        font-weight: 700;
    }
    #contactInfo {
        grid-column: 2;
        grid-row: 3/5;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10% 1% 1% 1%;
        line-height: 2rem;
    }
    #housingDetails p {
        font-size: smaller;
    }
    #servicesList li, #amenitiesList li {
        width: 75%;
    }
    #servicesProvided a {
        padding: 1%;
    }
    .formPopup {
        height: 100%;
        margin: 1%;
    }
    .formContainer {
        height: 100%;
    }
}